<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

</body>
</html><?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h2>View Orders</h2>
<table border="1">
	<tr>
		<th>OrderId</th>
		<th>EmailId</th>
		<th>Date</th>	
		<th>ProductId</th>
	</tr>
	<tr th:each="order:${orders}">
		<td th:text="${order.orderid}"></td>
		<td th:text="${order.emailid}"></td>
		<td th:text="${order.orderplaced}"></td>
		<td th:text="${order.productid}"></td>
	</tr>
<br/>
</table>
<a th:href="@{/adminHome}">Back</a>
</body>
</html>